<!-- howdy/templates/about.html -->
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>KAPUA!</title>
    </head>
    
    <body>
        <p>
            {% block content %}
            {% endblock %}
        </p>

        <p>
            <a href="/">Go back home</a>
            <a href="/about/">About</a>
            <a href="/apiList/">Api list</a>
            <a href="/tasksList/">Task list</a>
            <a href="/admin/">Admin</a>
        </p>

    </body>

</html>